.env
/notes
**/extra

# data
*.fastq.gz
*.fasta.gz
*.fna.gz

# **/output/*
/output/figures
# /analysis/*/output
# /analysis/*/*/output
!/output/sample-data
!/output/lab

# Rmd files
*_cache/
# *_files/

# Distill site
/_site/

# Project-specific libraries
lib/

# slurm output files
slurm*.out
